body {
  font-family: $font-tipo;
  font-size: $font-big;
  font-weight: bolder;
  font-style: normal;
  color: white;
}
.header {
  margin-top: 5px;
  padding-left: 10px;
}
.main {
  padding-bottom: 15px;
  padding-top: 15px;
  min-height: 600px;
  min-width: 800px;
  background-color: white;
}

ul {
  display: flex;
  list-style: $lista-style;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul ul {
  position: absolute;
  display: none;
  background-color: $color-background;
}

ul ul li {
  display: block;
}

ul li:hover ul {
  display: block;
}

a:hover {
  background-color: $color-terciario;
  color: $color-background;
  box-shadow: 2px 2px 6px black;
  text-decoration: none;
}
@media screen and (min-width: 768px) {
  .masvendidos {
    color: blue;
  }
  .masvendidos__img {
    display: inline-block;
  }
}

.masvendidos {
  color: $color-background;
  margin: 1.1rem;
  font-family: $font-tipo;
  font-size: $font-big;
  font-weight: bolder;
  font-style: normal;
  height: 350px;

  &__img {
    padding-top: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.pizza {
  width: 400px;
}

.conos {
  width: 350px;
}

.vasos {
  width: 250px;
}

.destacados {
  color: $color-background;
  margin: 1.1rem;
  font-family: $font-tipo;
  font-size: $font-big;
  font-weight: bolder;
  font-style: normal;
  height: 400px;

  &__img {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-top: 10px;
  }
}

.bolsaauto {
  width: 300px;
}

.buda {
  width: 300px;
}

.pastillero {
  width: 300px;
}

.sobrenosotros {
  color: $color-background;
  margin: 1.1rem;
  font-family: $font-tipo;
  font-size: 1.3rem;
  font-weight: bolder;
  font-style: normal;

  &__p {
    color: $color-primario;
  }

  &__span {
    text-transform: uppercase;
    font-size: 1.5rem;
    color: hotpink;
  }

  .h3 {
    font-size: 2rem;
  }
}

.a {
  text-decoration: none;
  color: $color-primario;
}

.p {
  text-align: $text-center;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: $color-primario;
}

/*Fin de index*/

/*FOOTER*/
.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 150px;
  background: $color-secundario;
}

.footer .footerredes {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}

.footer .footerredes .footerlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footerredes .footerredes__ul {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.footerredes__ul .footerredes__li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  margin-left: 10px;
  opacity: 0.5;
}

.aa:hover {
  box-shadow: none;
  opacity: 0.8;
  background: none;
  color: white;
}

.aa__logo:hover {
  opacity: 0.8;
  box-shadow: none;
  background: none;
}

.footerredes__ul .footerredes__li .footerredes__link {
  color: $color-primario;
}
/*Fin de FOOTER*/

/*Categorias*/
.cat {
  margin-top: 30px;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: $text-center;
  display: flex;
  justify-content: center;

  &__padre {
    display: grid;
    grid-template-columns: 250px 250px 250px;
    grid-template-rows: 200px 200px 200px;
    height: 600px;
    grid-column-gap: 20px;
    /*margin-left: 90px;*/
    width: 800px;
  }
  &__hijo img {
    height: 150px;
    width: 250px;
    border-radius: 0.5rem;
  }
}
/*Fin de categorias*/

/*Productos Nuevos*/

.productosnuevos {
  color: $color-background;
  margin: 1.1rem;
  font-family: $font-tipo;
  font-weight: bolder;
  font-style: normal;
}

.div__prod-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: $text-center;
  margin-bottom: 20px;
  color: $color-terciario;

  .estuche {
    height: 380px;
  }

  .teflon {
    width: 350px;
    height: 380px;
  }

  .soporte {
    height: 380px;
    width: 350px;
  }
}

/*Fin de productos nuevos*/

/*FAQ*/

.faq__contenedor {
  display: grid;
  grid-template-columns: 250px 250px 280px;
  grid-template-rows: 200px 200px 280px;
  grid-column-gap: 200px;
  grid-row-gap: 120px;
  margin: 50px 50px;

  &__item {
    margin: 20px 20px;
    text-align: $text-center;
  }
}
.p__faq {
  text-align: $text-center;
  font-size: 1.1rem;
  color: darkcyan;
}
/*Fin de FAQ*/

/*Inicio de platospizza*/

.platopizza {
  margin: 20px;
  padding: 100px;
  text-align: $text-center;
  color: $color-primario;
}
.ol {
  list-style: $lista-style;
  text-transform: uppercase;
  color: hotpink;
}

/*Fin de platospizza*/

/*Conosdips*/

.conosdips {
  margin: 20px;
  padding: 100px;
  text-align: $text-center;
  color: $color-primario;
}

/*Fin de conosdips*/

/*Vasostermicos*/

.vasotermico {
  margin: 20px;
  padding: 100px;
  text-align: $text-center;
  color: $color-primario;
}

.vasotermico img {
  width: 500px;
  height: 450px;
}

/*Fin de vasostermicos*/

/*Portacepillos*/

.portacepillo {
  margin: 20px;
  padding: 100px;
  text-align: $text-center;
  color: $color-primario;
}

/*Fin de portacepillo*/

/*Moldeteflon*/

.moldeteflon {
  margin: 20px;
  padding: 100px;
  text-align: $text-center;
  color: $color-primario;
}

/*Fin de moldeteflon*/

/*Soportepuerta*/

.soportepuerta {
  margin: 20px;
  padding: 100px;
  text-align: $text-center;
  color: $color-primario;
}

/*Fin de soportepuerta*/

/*Bolsaparaauto*/

.bolsaparaauto {
  margin: 20px;
  padding: 100px;
  text-align: $text-center;
  color: $color-primario;
}

/*Fin de bolsaparauto*/

/*Cascadabuda*/

.cascadabuda {
  margin: 20px;
  padding: 100px;
  text-align: $text-center;
  color: $color-primario;
}

/*Fin de cascadabuda*/

/*Pastillerodias*/

.pastillerodias {
  margin: 20px;
  padding: 100px;
  text-align: $text-center;
  color: $color-primario;
}

/*Fin pastillerodias*/

/*Inicio boton*/

.boton {
  background: hotpink;
  color: $color-primario;
  padding: 5px;
  font-size: 20px;
  font-weight: 10px;
  font-family: $font-tipo;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: all ease-in-out 2s;
  transition-duration: 0.5s;
  text-align: $text-center;

  &:hover {
    background: $color-secundario;
    color: $color-terciario;
    border: 2px solid grey;
  }
}

/*Fin boton*/

/*Contacto*/

.contacto {
  padding-top: 10px;
  width: 750px;
  height: 825px;
  margin: 0 250px;
  color: $color-primario;
  text-align: $text-center;
  border: hotpink 5px solid;
  border-radius: 1rem;
  background-color: darkgray;
}

input {
  width: 500px;
  text-align: $text-center;
}

.input {
  background: hotpink;
  color: $color-primario;
  padding: 5px;
  font-size: 20px;
  font-weight: 10px;
  font-family: $font-tipo;
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: all ease-in-out 2s;
  transition-duration: 0.5s;
  text-align: $text-center;

  &:hover {
    background: $color-secundario;
    color: $color-terciario;
    border: 2px solid grey;
  }

  &__div {
    padding: 10px 10px;
    margin: 10px;
  }
}

/*Fin de contacto*/

/*Inicio 404*/
.error {
  color: $color-primario;
  text-align: $text-center;
  font-family: $font-tipo;
}
.a404 {
  color: hotpink;
}
/*Fin de 404*/
