$font-tipo: "Noto Sans", "sans-serif";
$font-big: 1.2rem;
$color-secundario: linear-gradient(to top, hotpink, pink);
$color-background: darkturquoise;
$color-primario: black;
$color-terciario: white;
$lista-style: none;
$text-center: center;
$color-main: #e4e4e4;
