* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans", "sans-serif";
  font-size: 1.2rem;
  font-weight: bolder;
  font-style: normal;
  color: white;
}

.header {
  padding-left: 15px;
  margin-top: 2px;
}
.header__menu {
  display: flex;
  flex-direction: "row";
  flex-wrap: wrap;
  justify-content: space-around;
}

.main {
  padding-bottom: 15px;
  padding-top: 15px;
  min-height: 600px;
  min-width: 800px;
  background-color: #e4e4e4;
}

ul {
  display: flex;
  list-style: none;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

ul ul {
  position: absolute;
  display: none;
  background-color: darkturquoise;
}

ul ul li {
  display: block;
}

ul li:hover ul {
  display: block;
}

a:hover {
  background-color: white;
  color: darkturquoise;
  margin-top: 2px;
  box-shadow: 2px 2px 6px black;
  text-decoration: none;
}

.masvendidos {
  color: darkturquoise;
  margin: 1.1rem;
  font-family: "Noto Sans", "sans-serif";
  font-size: 1.2rem;
  font-weight: bolder;
  font-style: normal;
  height: 350px;
}
.masvendidos__img {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.pizza {
  width: 400px;
}

.conos {
  width: 350px;
}

.vasos {
  width: 250px;
}

.destacados {
  color: darkturquoise;
  margin: 1.1rem;
  font-family: "Noto Sans", "sans-serif";
  font-size: 1.2rem;
  font-weight: bolder;
  font-style: normal;
  height: 400px;
}
.destacados__img {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10px;
}

.bolsaauto {
  width: 300px;
}

.buda {
  width: 300px;
}

.pastillero {
  width: 300px;
}

.sobrenosotros {
  color: darkturquoise;
  margin: 1.1rem;
  font-family: "Noto Sans", "sans-serif";
  font-size: 1.3rem;
  font-weight: bolder;
  font-style: normal;
}
.sobrenosotros__p {
  color: black;
}
.sobrenosotros__span {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: hotpink;
}

.a {
  text-decoration: none;
  color: black;
}

.p {
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  color: black;
}

/*Fin de index*/
/*FOOTER*/
.footer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 150px;
  background: linear-gradient(to top, hotpink, pink);
}

.footer .footerredes {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  padding: 15px 0;
}

.footer .footerredes .footerlogo {
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footerredes .footerredes__ul {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

.footerredes__ul .footerredes__li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 35px;
  height: 35px;
  border: 1px solid white;
  margin-left: 10px;
  opacity: 0.5;
}

.footerredes__ul .footerredes__li:hover {
  opacity: 1;
}

.footerredes__ul .footerredes__li .footerredes__link {
  color: black;
}

/*Fin de FOOTER*/
/*Categorias*/
.cat {
  margin-top: 30px;
  font-size: 1.3rem;
  text-decoration: none;
  text-align: center;
  display: flex;
  justify-content: center;
}
.cat__padre {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 200px 200px 200px;
  height: 600px;
  grid-column-gap: 20px;
  /*margin-left: 90px;*/
  width: 800px;
}
.cat__hijo img {
  height: 150px;
  width: 250px;
  border-radius: 0.5rem;
}

/*Fin de categorias*/
/*Productos Nuevos*/
.productosnuevos {
  color: darkturquoise;
  margin: 1.1rem;
  font-family: "Noto Sans", "sans-serif";
  font-weight: bolder;
  font-style: normal;
}

.div__prod-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
.div__prod-container .estuche {
  height: 380px;
}
.div__prod-container .teflon {
  width: 350px;
  height: 380px;
}
.div__prod-container .soporte {
  height: 380px;
  width: 350px;
}

/*Fin de productos nuevos*/
/*FAQ*/
.faq__contenedor {
  display: grid;
  grid-template-columns: 250px 250px 250px;
  grid-template-rows: 200px 200px 200px;
  grid-column-gap: 250px;
  margin-left: 50px;
}
.faq__contenedor__item {
  margin: 20px 20px;
  text-align: center;
}

/*Fin de FAQ*/
/*Inicio de platospizza*/
.platopizza {
  margin: 20px;
  padding: 100px;
  text-align: center;
  color: black;
}

.ol {
  list-style: none;
  text-transform: uppercase;
  color: hotpink;
}

/*Fin de platospizza*/
/*Conosdips*/
.conosdips {
  margin: 20px;
  padding: 100px;
  text-align: center;
  color: black;
}

/*Fin de conosdips*/
/*Vasostermicos*/
.vasotermico {
  margin: 20px;
  padding: 100px;
  text-align: center;
  color: black;
}

.vasotermico img {
  width: 500px;
  height: 450px;
}

/*Fin de vasostermicos*/
/*Portacepillos*/
.portacepillo {
  margin: 20px;
  padding: 100px;
  text-align: center;
  color: black;
}

/*Fin de portacepillo*/
/*Moldeteflon*/
.moldeteflon {
  margin: 20px;
  padding: 100px;
  text-align: center;
  color: black;
}

/*Fin de moldeteflon*/
/*Soportepuerta*/
.soportepuerta {
  margin: 20px;
  padding: 100px;
  text-align: center;
  color: black;
}

/*Fin de soportepuerta*/
/*Bolsaparaauto*/
.bolsaparaauto {
  margin: 20px;
  padding: 100px;
  text-align: center;
  color: black;
}

/*Fin de bolsaparauto*/
/*Cascadabuda*/
.cascadabuda {
  margin: 20px;
  padding: 100px;
  text-align: center;
  color: black;
}

/*Fin de cascadabuda*/
/*Pastillerodias*/
.pastillerodias {
  margin: 20px;
  padding: 100px;
  text-align: center;
  color: black;
}

/*Fin pastillerodias*/
/*Inicio boton*/
.boton {
  background: hotpink;
  color: black;
  padding: 5px;
  font-size: 20px;
  font-weight: 10px;
  font-family: "Noto Sans", "sans-serif";
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: all ease-in-out 2s;
  transition-duration: 0.5s;
  text-align: center;
}
.boton:hover {
  background: linear-gradient(to top, hotpink, pink);
  color: white;
  border: 2px solid grey;
}

/*Fin boton*/
/*Contacto*/
.contacto {
  padding-top: 10px;
  width: 750px;
  height: 825px;
  margin: 0 250px;
  color: black;
  text-align: center;
  border: hotpink 5px solid;
  border-radius: 1rem;
  background-color: darkgray;
}

input {
  width: 500px;
  text-align: center;
}

.input {
  background: hotpink;
  color: black;
  padding: 5px;
  font-size: 20px;
  font-weight: 10px;
  font-family: "Noto Sans", "sans-serif";
  border-bottom-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;
  transition: all ease-in-out 2s;
  transition-duration: 0.5s;
  text-align: center;
}
.input:hover {
  background: linear-gradient(to top, hotpink, pink);
  color: white;
  border: 2px solid grey;
}
.input__div {
  padding: 10px 10px;
  margin: 10px;
}

/*Fin de contacto*/
/*Inicio 404*/
.error {
  color: black;
  text-align: center;
  font-family: "Noto Sans", "sans-serif";
}

.a404 {
  color: hotpink;
}

/*Fin de 404*/
.main {
  background-color: #e4e4e4;
  min-height: 600px;
  min-width: 800px;
}

/*# sourceMappingURL=style.css.map */
